{% extends "layout.html" %}
{% load cms_tags %}
{% load sekizai_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block css %}
{% addtoblock "css" %}<link href='https://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>{% endaddtoblock %}
{% addtoblock "css" %}<link href='{{ STATIC_URL }}css/index.css' rel='stylesheet' type='text/css'>{% endaddtoblock %}
{% endblock %}
{% block content %}
	<section id="pro-block">
		<div class="title">
			<h1>Willendare</h1>
		</div>
		<div id="down">
			<i class="icon icon-angle-double-down">&#xe800;</i>
		</div>
	</section>
	<section id="service">
		<h2 class="center-block">我们的服务</h2>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6 service-item">
					<div class="image" data-sr='wait 0.5s, enter bottom, reset'>
						{% placeholder 'Service-ItemImg-1' %}
					</div>
					<h3>
						<a class="item-name" href="service/hr_recruit/">{% placeholder 'Service-ItemTitle-1' %}</a>							
					</h3>
					<div class='item-content'>
						{% placeholder 'Service-ItemContent-1' %}
					</div>
				</div>
				<div class="col-md-4 col-sm-6 service-item">
					<div class="image" data-sr='wait 0.5s, enter bottom, reset'>
						{% placeholder 'Service-ItemImg-2' %}
					</div>
					<h3>
						<a class="item-name" href="service/hr_manage/">{% placeholder 'Service-ItemTitle-2' %}</a>						
					</h3>
					<div class='item-content'>
						{% placeholder 'Service-ItemContent-2' %}
					</div>
				</div>
				<div class="col-md-4 col-sm-6 service-item">
					<div class="image" data-sr='wait 0.5s, enter bottom, reset'>
						{% placeholder 'Service-ItemImg-3' %}
					</div>
					<h3>
						<a class="item-name" href="service/software/">{% placeholder 'Service-ItemTitle-3' %}</a>					
					</h3>
					<div class='item-content'>
						{% placeholder 'Service-ItemContent-3' %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="about">
		<h2 class="center-block">关于我们</h2>
		<div class="container">
			<div class="row about-item">
				<div class="col-lg-6 col-sm-6 vcenter" data-sr='over 0.6s, scale up 100%, roll 90deg, reset' >
					{% placeholder 'About-ItemImg-1' %}
				</div><!--
				--><div class="col-lg-6 col-sm-6 vcenter">
					<h3>{% placeholder 'About-ItemTitle-1' %}</h3>
					{% placeholder 'About-ItemContent-1' %}
				</div>
			</div>
			<div class="row about-item">
				<div class="col-lg-6 col-sm-6 vcenter">
					<h3>{% placeholder 'About-ItemTitle-2' %}</h3>
					{% placeholder 'About-ItemContent-2' %}
				</div><!--
				--><div class="col-lg-6 col-sm-6 vcenter" data-sr='over 0.6s, scale up 100%, roll 90deg, reset' >
					{% placeholder 'About-ItemImg-2' %}
				</div>
			</div>
			<div class="row about-item">
				<div class="col-lg-6 col-sm-6 vcenter" data-sr='over 0.6s, scale up 100%, roll 90deg, reset' >
					{% placeholder 'About-ItemImg-3' %}
				</div><!--
				--><div class="col-lg-6 col-sm-6 vcenter">
					<h3>{% placeholder 'About-ItemTitle-3' %}</h3>
					{% placeholder 'About-ItemContent-3' %}
				</div>
			</div>
		</div>
	</section>
{% endblock content %}
{% block js%}
{% addtoblock "js" %}<script src='{{ STATIC_URL }}js/scrollReveal.min.js'></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src='{{ STATIC_URL }}js/script.js'></script>{% endaddtoblock %}
{% endblock%}