{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keyword" content="汇人达,willendare,软件服务,猎聘,人力资源">
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/globle.css">
        {% render_block "css" %}
        {% block css %}{% endblock %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="{{ MEDIA_URL }}logo.ico">
    </head>
    <body>
        {% cms_toolbar %}
        <div class="navbar navbar-fixed-top header-navbar" id="navbar" role="navigation" style="visibility: hidden;">
          <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Willendare</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% show_menu 0 100 100 100 "menu.html" %}
            </ul>
          </div> 
          </div>  
        </div>

        {% block content %}{% endblock content %}

        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <ul class='social-link list-unstyled list-inline'>
                  <li>
                    <a href="#"><i class="icon icon-linkedin">&#xe80a;</i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icon icon-qq">&#xe80b;</i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icon icon-wechat">&#xe809;</i></a>
                  </li>
                  <li>
                    <a href="#"><i class="icon icon-weibo">&#xe808;</i></a>
                  </li>
                </ul>
              </div>
              <div class="col-md-4 col-md-offset-5">
                <p>Copyright © 2015 广州汇人达计算机科技有限公司</p>  
                <p>粤ICP15006654号-1 </p>
              </div>
            </div>
          </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
        {% render_block "js" %}
        {% block js %}{% endblock %}
        {% addtoblock "js" %}
        <script>
        (function(){
          window.onscroll = function(){
            var scrollTop = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop;
            if(scrollTop !== 0){
              document.getElementById("navbar").style.visibility = 'visible';
            }else{
              document.getElementById("navbar").style.visibility = 'hidden';
            }
          }
        }());
        </script>
        {% endaddtoblock %}
    </body>
</html>