@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?70793480');
  src: url('./font/fontello.eot?70793480#iefix') format('embedded-opentype'),
       url('./font/fontello.woff?70793480') format('woff'),
       url('./font/fontello.ttf?70793480') format('truetype'),
       url('./font/fontello.svg?70793480#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon{
	font-family: "fontello";
	font-style: normal;
	color: #fff;
	cursor: pointer;
}
.header-navbar{
	background-color: #38C3FF;
	border-bottom:1px solid #38C3FF;
	padding-top: 10px;
	padding-bottom: 10px;
	display: none;
}
.header-navbar a{
	color: #fff;
	font-weight: bold;
}
.header-navbar .navbar-nav a{
	padding-left: 24px;
	padding-right: 24px;
}
.header-navbar .navbar-nav a:hover{
	background-color: #fff;
	color: #000;	
}
.navbar-fixed-top{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
.header-navbar .navbar-toggle{
	border-color: #fff;
}
.header-navbar .nav .open>a:focus, .header-navbar .nav .open>a:hover{
	background-color: #fff;
	color: #000;
}
@media(min-width: 970px){
	.col-md-17{
		width: 70.8333333333%;
	}
	.col-md-7{
		width:29.1666666667%;
	}
	.col-md-7, .col-md-17{
		float: left;
		margin-top: 100px;
	}
}
.aldryn-newsblog{
	font-family: "Microsoft Yahei","Hiragino Sans GB",Helvetica,"Helvetica Neue","微软雅黑",Tahoma,Arial,sans-serif;
	font-weight: 200;
	font-size: 1.125em;
}
.aldryn-newsblog-list .aldryn-newsblog-article{
	border-bottom: 1px solid #c2c2c2;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.aldryn-newsblog-list .aldryn-newsblog-article h2{
	font-weight: bold;
	margin-bottom: 30px;
}
.aldryn-newsblog-list .aldryn-newsblog-article .category a{
	color:#000;
	font-weight: bold;
	font-size: 1.125em;
}
.aldryn-newsblog-list .aldryn-newsblog-article .category a:hover{
	text-decoration: none;
}
.lead{
	font-size: 1em;
}
.aldryn-newsblog-categories, .aldryn-newsblog-tags{
	border-bottom: 1px solid #eee;
	margin-bottom: 30px;
}
.aldryn-newsblog-categories li{
	padding-left: 12px;
	margin-bottom: 16px;
	font-size: 1em;
}
.aldryn-newsblog-categories li:hover{
	border-left: 4px solid #D35400;
}
.aldryn-newsblog-categories .active{
	border-left: 4px solid #D35400;
}
.aldryn-newsblog-categories a:hover{
	text-decoration: none;
	color:#337ab7;
}
.aldryn-newsblog-sidebar h3{
	width:80px;
	padding-left: 16px;
	padding-bottom: 4px;
	margin-bottom: 20px;
	border-bottom: 2px solid #D35400;
	color: #337ab7;
	font-weight: 500;
	cursor: pointer;
	font-size: 1.125em;
}
.badge{
	display:none;
}
.aldryn-newsblog-tags{
	overflow: hidden;
	padding-bottom: 20px;
}
.aldryn-newsblog-tags li{
	float:left;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 4px;
	margin-bottom: 6px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	background-color: #337ab7;
	text-align: center;
	font-weight: bold;
}
.aldryn-newsblog-tags li a{
	color:#fff;
	font-size: 0.75em;
}
.aldryn-newsblog-tags li a:hover{
	text-decoration: none;
}
.aldryn-newsblog-detail{
	width:70%;
	margin: 0 auto;
	margin-top: 90px;
	margin-bottom: 90px;
}
/*footer css*/
footer{
	height:120px;
	padding-top: 40px;
	padding-bottom: 40px;
	overflow:hidden;
}
.social-link i{
	color:#000;
	font-size: 1.725em;
}
.social-link li{
	margin-left: 10px;
}
.social-link li a:hover{
	text-decoration: none;
}
.social-link li:hover{
	background-color: #000;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.social-link i:hover{
	color:#fff;
}
footer p{
	font-size: 0.875em;
	margin-bottom: 6px;
	float:right;
}